{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load cloudinary %}
    
    <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h2>Plans and Pricing</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                {% for plan in plans %}
                <div class="col-lg-4 col-md-6 col-sm-12 h-100 wow fadeInUp">
                    <div class="plan-col">
                        <div class="img">
                            <img src="{{plan.plan_img.url}}" alt="" style="display: block; max-width: 100%; height: auto;" class="img-fluid">
                            <div class="icon"><i class="ion-pricetag"></i></div>
                        </div>
                        <h2 class="title"><a href="#">{{plan.title |lower}}</a></h2>
                        <h4><a href="#">&#x20a6;{{plan.price}} <span>{{plan.per}}</span></a></h4>
                        <ul>
                            <li>&#10004;   {{plan.benefit1}}</li>
                            <li>&#10004;   {{plan.benefit2}}</li>
                            <li>&#10004;   {{plan.benefit3}}</li>
                            <li>&#10004;   {{plan.benefit4}}</li>
                            {% if plan.benefit5 %}
                            <li>&#10004;   {{plan.benefit5}}</li>
                            {% endif %}
                            {% if plan.benefit6 %}
                            <li>&#10004;   {{plan.benefit6}}</li>
                            {% endif %}
                            {% if plan.benefit7 %}
                            <li>&#10004;   {{plan.benefit7}}</li>
                            {% endif %}
                            {% if plan.benefit8 %}
                            <li>&#10004;   {{plan.benefit8}}</li>
                            {% endif %}
                            {% if plan.benefit9 %}
                            <li>&#10004;   {{plan.benefit9}}</li>
                            {% endif %}
                            {% if plan.benefit10 %}
                            <li>&#10004;   {{plan.benefit10}}</li>
                            {% endif %}
                        </ul>
                        <a href="/plans/{{plan.id}}/{{plan.title}}/{{plan.price}}" id="btn-custom" class="btn  btn-lg page-scroll">Book Space</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock content %}



  