{% load static %}

<div id="footer">
    <div class="container text-center">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="www.instagram.com/villagedotng"><i class="fa fa-instagram"></i></a></li>
          <li><a href="www.linkedin.com/in/thevillage"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
      <div style="color: #fff;">371, Borno way, Spencer Street, Alagomeji-Yaba, Lagos</div>
      <div>
        <p style="color: #fff;">&copy; 2020 the Village</p>
      </div>
    </div>
  </div>