{% load static %}

<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/nivo-lightbox.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/contact_me.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<script src="{% static 'lib/js/main.js' %}"></script>
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
<script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
